---
import Layout from "../layouts/layout.astro";
---

<Layout>
	<div class="rvt-hero rvt-hero--feature">
		<div class="rvt-hero__body">
			<h2 class="rvt-hero__title">Lead the way</h2>
			<p class="rvt-hero__teaser">
				Applying to IU is more than a step &mdash; it's the start of your best
				chapter. Work with world-class mentors, intern with industry leaders,
				and join a community that bleeds cream and crimson.
			</p>
			<div class="rvt-hero__actions">
				<a href="/apply" class="rvt-button rvt-button--cta rvt-button--strong">
					Apply now
				</a>
				<a href="#" class="rvt-button rvt-button--cta"> Visit campus </a>
			</div>
		</div>
		<figure class="rvt-hero__figure">
			<div class="rvt-hero__images">
				<img
					src="https://raw.githubusercontent.com/basham/rivet-assets/refs/heads/main/images/hero-02-student-graduating.webp"
					alt="Student is dressed for the graduation ceremony, wearing a black academic gown, crimson hood, and black cap with tassel. The tassel is positioned on the left side, signifying they have just graduated."
				/>
			</div>
		</figure>
		<div class="rvt-hero__list-hub">
			<div class="rvt-list-hub">
				<h2 class="rvt-list-hub__title">Quick links</h2>
				<ul class="rvt-list-hub__list">
					<li class="rvt-list-hub__item">
						<a class="rvt-list-hub__link" href="/admissions-paths">
							Explore admissions paths
						</a>
					</li>
					<li class="rvt-list-hub__item">
						<a class="rvt-list-hub__link" href="#">
							Meet admissions counselors
						</a>
					</li>
					<li class="rvt-list-hub__item">
						<a class="rvt-list-hub__link" href="#"> See class profile </a>
					</li>
					<li class="rvt-list-hub__item">
						<a class="rvt-list-hub__link" href="#"> Plan for IU </a>
					</li>
					<li class="rvt-list-hub__item">
						<a class="rvt-list-hub__link" href="#"> Request more info </a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</Layout>
