---
import Layout from "../layouts/layout.astro";
---

<Layout>
	<div class="rvt-hero">
		<div class="rvt-hero__body">
			<h2 class="rvt-hero__title">
				The application process for future freshmen
			</h2>
			<p class="rvt-hero__teaser">
				How to apply to Indiana University, in a few easy steps.
			</p>
			<div class="rvt-hero__actions">
				<a href="#" class="rvt-button rvt-button--cta rvt-button--strong">
					See steps to apply
				</a>
				<a href="/apply" class="rvt-button rvt-button--cta"> Apply now </a>
			</div>
		</div>
	</div>
</Layout>
