---
import Layout from "../layouts/layout.astro";
---

<Layout>
	<div class="rvt-hero rvt-hero--statement">
		<div class="rvt-hero__body">
			<h2 class="rvt-hero__title">Welcome home</h2>
			<p class="rvt-hero__teaser">
				Indiana University is more than a campus &mdash; it's a community that
				feels like family and a global stage for your ambition. Surround
				yourself with mentors who invest in your future and a landscape designed
				to inspire.
			</p>
			<div class="rvt-hero__actions">
				<a href="/apply" class="rvt-button rvt-button--cta rvt-button--strong">
					Apply to Bloomington
				</a>
				<a href="/" class="rvt-button rvt-button--cta">
					Explore degree programs
				</a>
			</div>
		</div>
		<figure class="rvt-hero__figure">
			<div class="rvt-hero__images">
				<img
					src="https://raw.githubusercontent.com/basham/rivet-assets/refs/heads/main/images/hero-01-students-imu.webp"
					alt="Three students joke outside the Indiana Memorial Union while enjoying coffees."
				/>
			</div>
		</figure>
	</div>
</Layout>
