---
import Drilldown from "@rivet-iu/core/src/components/drilldown/drilldown.astro";
import Search from "@rivet-iu/core/src/components/header/header-search.astro";

const { menus, theme = "light" } = Astro.props;
---

<rvt-header class={`rvt-theme-${theme}`}>
	<a class="rvt-skip-link" href="#main-content">Skip to main content</a>
	<header class="rvt-container" data-trait-escape-close>
		<a class="rvt-lockup" href="/">
			<rvt-logo-iu tab></rvt-logo-iu>
			<div class="rvt-lockup__body">
				<div class="rvt-lockup__title">Indiana University</div>
				<div class="rvt-lockup__subtitle">Bloomington</div>
			</div>
		</a>
		<div data-rvt-header-menu>
			<Search />
			<nav aria-label="Related">
				<Drilldown menus={menus.all} />
			</nav>
		</div>
		<button
			aria-expanded="false"
			class="rvt-button rvt-button--icon-only rvt-header__button"
			data-trait-toggle-expanded
			data-rvt-header-menu-toggle
		>
			<span class="rvt-sr-only">Search and browse</span>
		</button>
	</header>
</rvt-header>

<style>
	rvt-header {
		nav {
			display: none;
		}
	}

	body:has([data-rvt-header-menu-toggle][aria-expanded="true"]) {
		rvt-header nav {
			display: block;
		}
	}
</style>

<script>
	import "@rivet-iu/core/src/components/header/header.ts";
</script>
